
// estilo para centralizar texto
.center{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
}

.btn-list-user{

}

.header-banner {
        display: flex;
        align-items: center;
        height: 345px;
    }